[2016-08-02 10:02] mehreencs87 opened #2 "outdated dependencies"
- vue 1.0.16 -> 1.0.24
- vue-resource 0.7.0 -> 0.9.3
- vue-router 0.7.10 -> 0.7.13

[2016-08-02 10:47] mehreencs87 opened #4 "Update lock version to 10"
fix https://github.com/auth0-samples/auth0-vue-samples/pull/5

[2016-08-02 11:30] mehreencs87 commented on #2
fix https://github.com/auth0-samples/auth0-vue-samples/pull/3

[2016-08-31 15:20] hzalaz commented on #4
Fixed by #7

[2016-08-31 15:20] #4 closed

[2016-09-05 08:44] mpaktiti opened #9 "Logout not displayed properly"
I download and run the sample but after I successfully login I still see the `Login` button instead of the `Logout`. If I press `Login` again and once Lock loads close it (without logging in again) I can see the `Logout` button.

![vuejs](https://cloud.githubusercontent.com/assets/11715799/18242225/f1302b0e-735d-11e6-8326-48644aa58133.gif)

[2016-09-05 11:36] mpaktiti commented on #2
Fix deployed.

[2016-09-05 11:36] #2 closed

[2016-10-20 22:53] matthewlilley commented on #9
Same here

[2016-10-23 14:12] Amialc commented on #9
AUTH-3500

[2016-11-05 14:47] chenkie commented on #9
Fixed in latest :)

[2016-11-05 14:47] #9 closed

[2016-11-21 03:02] mdxprograms opened #10 "Should use mount instead of ready"
I wasn't able to get the data to process for the `ready` state. `mount` ended up working perfectly.

[2016-12-07 02:45] OmgImAlexis opened #11 "Update to vue2"
This should be updated to use vue2 instead of vue1.

[2017-01-19 18:24] bahmutov opened #12 "How to go from client to server API"
The client SPA logs in and gets access token and id token. When making authorized requests,
we pass id_token in the header (via HTTP interceptor).

How would a server verify the user identify in this case? Should it be access token instead? Is this an example of "implicit grant"?

Any advice would be appreciated.

[2017-01-19 21:24] Amialc opened #13 "outdated dependencies"
Sample using outdated dependency (including auth0-lock). (AUTH-3705)

[2017-03-15 16:42] #13 closed

[2017-03-15 16:44] chenkie commented on #12
Hi @bahmutov, have a look at the [latest OIDC sample](https://github.com/auth0-samples/auth0-vue-samples/tree/OIDC/05-Authorization) for a complete setup including a Node server :) It uses the implicit grant and sends the `access_token` to the server.

[2017-03-15 16:45] chenkie commented on #11
Fixed with #14

[2017-03-15 16:45] #11 closed

[2017-03-15 16:45] chenkie commented on #10
Fixed with #14

[2017-03-15 16:45] #10 closed

[2017-03-15 16:57] bahmutov commented on #12
thank you, will use that

[2017-03-15 16:57] #12 closed

[2017-04-11 22:53] marclave opened #16 "Typo in Documentation"
In the quickstart [documentation](https://manage.auth0.com/#/clients/1QvnoKp5mbL-OF1RNRtBKlHcwUhjAzd4/quickstart) there is a typo at this line, should be `authorization` not `authorizaton`
[code]

[2017-04-12 00:01] marclave opened #17 "Vue2.0 deprecated lifecycle hook"
Noticed inside of package.json, Vue2.0 is being used. However, the lifecycle hook from 1.X to 2.X has changed `Ready()` to `mounted()`

https://vuejs.org/v2/guide/instance.html

https://github.com/auth0-samples/auth0-vue-samples/blob/master/01-Login/package.json#L20

In app.js you are using `mounted()` but the documentation on quickstart guide is not updated

[2017-04-25 17:08] besnikh opened #18 "Vue User Profile"
Can someone help me on how to fetch user profile after they signed up to display that profile info into users profile page ?

There are some examples using react and other frameworks but none using Vue 2

Thnx in advance!

[2017-05-31 18:31] Amialc opened #20 "outdated dependencies"
(AUTH-4061)
Sample using outdated version of dependencies such as Vue, vue-resource, vue-router, babel-loader and others.

[2017-07-19 15:50] #20 closed

[2017-07-22 19:25] armujahid opened #23 "Login samples Production mode issue"
Login sample are not working in production mode.
**Steps to reproduce issue 1**
1. `npm install --only=production`
2. `npm start`

**Error 1**
module.js:471
    throw err;
    ^
Error: Cannot find module 'chalk'
**Conclusion 1**
Not all devDependencies are devDependencies. Some devDependencies should be moved to dependencies section

**Issue 2**
Even after installation of all dependencies using `n

[2017-07-27 13:10] alex-webb commented on #18
I would also like to know this.  I tried adding

`this.auth0.client.userInfo(authResult.accessToken, function (err, user) {
          localStorage.setItem('user_details', user)
          console.log(user)
          console.log(err)
        })`

inside the handleAuthentication () method about line 35 but I don't get any data back.

[2017-08-05 16:13] armujahid opened #24 "White screen of death on Safari (Windows, iOS) and Chrome (iOS)"
Login sample not working on Safari (Windows, iOS) and Chrome iOS. White screen is shown whenever site is opened. Samples are working perfectly on windows (Chrome, Firefox).

I can see the following error in console on Safari (Windows, iOS)
`Syntaxerror: unexpected keyword 'const'. const declarations are not supported in strict mode.
`
Issue not resolved even after replacing all occurrences of `con

[2017-08-08 15:05] gweit opened #26 "npm run build Error"
Hi,

When i try to build for production i get this error:

**ERROR in static/js/vendor.a68eaa00d8a774012425.js from UglifyJs
Unexpected token: name (EventEmitter) [./node_modules/EventEmitter/src/index.js:16,0][static/js/vendor.a68eaa00d8a774012425.js:19845,6]**

Here´s the full terminal:

⠧ building for production...(node:6671) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberO

[2017-08-18 21:59] gweit commented on #26
@drejahl Thank You very much, i´ve worked around by using the event-emitter module which is already packed in.

[2017-09-29 18:21] paulioceano opened #29 "Outdated auth0.js dependency"
In Package.json the Auth0.js library is set to version 8.8, the latest version is 8.9

AUTH-3349

[2017-10-07 14:48] tsupertramp commented on #26
Hey Ho, there is already a pull request which would solve this issue - https://github.com/auth0-samples/auth0-vue-samples/pull/27 - Could you please merge it? It fixes the problem.

Greetings, Thomas

[2017-10-12 16:05] johnhunsley opened #31 "Issue with AuthService property not being passed into Callback component"
After login it successfully calls the callback URL - http://localhost:8080/callback this is routed to the Callback.vue component but the auth instance of AuthService is undefined -

vue.esm.js?efeb:476[Vue warn]: Error in data(): "TypeError: Cannot read property 'handleAuthentication' of undefined"

found in

---> <Callback> at src\components\Callback.vue
       <App> at src\App.vue
         <Root

[2017-10-12 23:03] kbzone commented on #31
After some debugging of this issue, I see that the problem is in here:

`
<router-view
        :auth="auth"
        :authenticated="authenticated">
</router-view>
`

(https://github.com/auth0-samples/auth0-vue-samples/blob/master/01-Login/src/App.vue#L32)

The router-view dont delegate the props, because as @johnhunsley said this error appears on callback.vue, but in the Home.vue too when we init

[2017-10-13 13:36] kbzone commented on #31
i get an answer from @jmangelo with this fix:
https://community.auth0.com/answers/10202/view

tl;dr: update your package.json with this exact version and re-install dependencies:
"vue": "2.3.4"
"vue-router": "2.7.0"
"vue-template-compiler": "2.3.4"

[2017-10-13 14:30] johnhunsley commented on #31
Works. I also had to upgrade webpack -   "webpack": "^3.7.1"

[2017-10-18 16:16] paulioceano opened #32 "Wrong apiUrl parameter in Vue sample project."
When download the Sample project, the parameter apiUrl in\01-login\src\auth\auth0-variables.js is not propely prepopulated.

I'm logged in a tenant in Australia region, and the apiUrl parameter still shows the audience from the European region tenant.

AUTH-3349

[2017-11-06 09:37] ildella opened #35 "error in npm run buil"
Fresh checkout, run npm install then npm run build. It works but at the end I get this error.
using nove 8.9.0 on ubuntu 17.04.
[code]

[2017-11-17 19:08] HeikerAraujo opened #36 "Missing Vue.js getting started link inside the tutorial (for vue beginners)"
Vue.js tutorial page: https://auth0.com/docs/quickstart/spa/vuejs

If I'm a vue beginners, I've to go out the tutorial page looking for more vue information, we can add a link to Vue getting started like this:

- https://vuejs.org/v2/guide/

There I'll find the necessary information in order to know/start with vue.

![image](https://user-images.githubusercontent.com/26749061/32964295-20943788-cba9

[2017-11-17 19:39] HeikerAraujo opened #37 "VUE Quickstart: Difference between snippet and code from the sample project in the tutorial page."
VUE Quickstart: https://auth0.com/docs/quickstart/spa/vuejs

A directory path description is missing, this will allow
the users verify the information regarding the clientID
and domain in the project directory
(from the sample project downloaded)
For example, you can verify if the client ID and domain
is set going to the following file in the project directory.
This will allow the users verify the

[2017-11-17 19:42] HeikerAraujo opened #38 "VUE Quickstart: Warnings after npm install execution"
Vue.js quickstart: https://auth0.com/docs/quickstart/spa/vuejs

Warnings after npm install execution.

![image](https://user-images.githubusercontent.com/26749061/32965750-f6faa3ee-cbad-11e7-9d21-93e7e9f513ac.png)

[2017-11-17 20:04] HeikerAraujo opened #39 "VUE Quickstart: Difference between snippet code in the tutorial page and the seed project."
Vue.js quickstart: https://auth0.com/docs/quickstart/spa/vuejs

There's a difference between the quickstart project code and the snippet code in the tutorial page.
Specifically the import section in the file:

- src/Auth/AuthService.js

![image](https://user-images.githubusercontent.com/26749061/32966679-028f2286-cbb1-11e7-9e93-93233d8f64e9.png)

[2017-11-17 20:58] #39 closed

[2017-11-17 20:58] #36 closed

[2018-01-03 16:58] rafanog opened #41 "outdated dependency"
The Auth0.js currently used in this project(V8) is outdated, latest release and correct one's V9.0.0

[2018-01-25 20:45] MrClan commented on #31
No need to downgrade any packages. Simply making a minor change inside Callback.vue, by removing props, and accessing AuthService through normal import fixes the issue. Replace the script block with this:

[code]

[2018-07-06 15:51] crouchcd opened #50 "Is isAuthenticated() Reliable?"
I am able to update localStorage with `localStorage.setItem('expires_at', Date.now() + 86400000)` which sets the expiration to 24 hours later. After setting that, I refresh the application and I am "logged in."

Perhaps checking the expiration alone is not a sufficient method of determining if a user is authenticated. Or it could just be a misunderstanding on my part.

[2018-08-10 22:00] srini85 commented on #50
@crouchcd - usage of auth in client side is handy to only obfuscate authentication. You can always alter the js to allow u to proceed. It's useful for just first line of defence, but any data you get back, the token has to be verified server side. Here, altering your storageitem will not help

[2018-08-17 02:04] paulioceano opened #51 "Deprecated dependencies."
Got several warnings of deprecated dependencies used in the sample project.

![screenshot_1](https://user-images.githubusercontent.com/15818783/44244066-0ecdae80-a1a0-11e8-821f-f454ace7c708.png)

[2018-08-17 02:09] paulioceano opened #52 "Error during npm start"
Got an error when running npm start, can not find module "Chalk."

![screenshot_2](https://user-images.githubusercontent.com/15818783/44244251-fe6a0380-a1a0-11e8-916c-a083ec7a0689.png)

[2018-09-24 14:49] adriatic opened #56 "Feedback on the Vue samples"
I am an old friend of Auth0, even worked for a while on improving Aurelia samples set (more on that at a different time) and am currently interested in Auth0 support for Vue. Unlike my previous work on a few Aurelia Open Source projects, I am now looking at Auth0 as the identity management provider for a big company in the healthcare market that hired me as the "adviser to the CEO".

With this exp

[2018-09-25 14:40] albertoperdomo commented on #56
Hello @adriatic,

thanks for reaching out and taking the time to submit this feedback.
We are currently in the process of reviewing all our Quickstarts. We are aware that the Vue Quickstart needs some love.

I am taking note and will see that will make these improvements, as they all seem to make sense. Some of that might happen in the short term, some in the mid term.

[2018-09-25 14:55] adriatic commented on #56
Hello @albertoperdomo - thanks for responding. Allow me to suggest the article **[How to add Auth0 Authentication to a Vue.js Application in 7 steps](https://www.storyblok.com/tp/how-to-auth0-vuejs-authentication), written by a friend (Dominik Angerer, Storyblok's CEO) who was so disappointed by Auth0 Vue quickstart to actually write a better version himself.

My point is this: the samples for any

[2018-09-25 14:56] albertoperdomo commented on #56
What you are saying certainly makes sense and resonates with me.
Thanks for pointing to that article. It certainly helps.

[2018-09-25 15:12] adriatic commented on #56
I do like your response a lot 👍 Alberto. I am aware that you recently joined Auth0 with the task to give the samples and related documentation the needed love. Welcome!

I am a close friend of Auth0 for many years and am really looking forward to see the result of your contributions.

[2018-09-25 15:12] #56 closed

[2018-09-28 11:57] albertoperdomo commented on #52
Can't reproduce. Can you please try to reproduce again calling `npm install', then `npm start` @paulioceano ?

[2018-10-25 18:01] djrasmusp opened #59 "Error during npm install"
I get an error, when running "npm install"

[code]

And i can figure out where the problem lies, since this is directly download from the master.

[2018-10-26 20:28] albertoperdomo commented on #59
Is this when downloading from https://auth0.com/docs/quickstart/spa/vuejs or when cloning the repo?
If it's when cloning the repo, which directory are you running the npm command in?

[2018-10-26 20:32] djrasmusp commented on #59
Get same error on both

[2018-10-26 20:51] albertoperdomo commented on #59
Sorry, just reverted a bad merge.
Should be working now if you update from master.

[2018-10-26 20:51] #59 closed

[2018-10-26 20:52] albertoperdomo commented on #59
Thanks for reporting @djrasmusp !

[2018-11-13 11:58] #51 closed

[2018-11-13 11:58] #38 closed

[2018-12-19 11:40] PeterC66 opened #63 "Could not get a new token (login_required: Login required)."
I downloaded the sample app last week. There was a problem with it never requesting a logout for Auth0, which I reported on the [community site](https://community.auth0.com/t/sample-vue-spa-app-01-login-is-not-asking-for-userid-password/19088). The suggestion I was given seemed to work, but I then had a different issue - an alert saying `Could not get a new token (login_required: Login required)`

[2018-12-19 18:46] albertoperdomo commented on #63
Hello @PeterC66,

thanks for taking the time to report this.
We are looking into this. Updates to follow.

Alberto.

[2018-12-20 02:00] arlysea commented on #63
Hi Alberto...

I am also getting this popup message coming up straight away when I first run 'npm start' :

localhost:3000 says
Could not get a new token (error: redirectUri can't be empty).

Even though I have populated the AUTH_CONFIG.callbackUrl (auth0-variables.js) with a callback URL..

Regards
Andrew

[2018-12-20 20:46] arlysea commented on #63
Hi Alberto...
Figured it out... not an issue with the repository... just some capitalisation mismatches...

Regards
Andrew

[2018-12-20 21:02] albertoperdomo commented on #63
Hello @arlysea,
can you expand on this, please?

[2018-12-20 21:14] arlysea commented on #63
Hi Alberto,
In my AuthService.js the param "redirectUri: AUTH_CONFIG.callbackURL," and in my auth0-variables.js the param was called "callbackUrl"... there was a mismatch between 'callbackURL' and 'callbackUrl'... (in capitalisation)

I was flicking between the different sample apps... '01-Login' and '05-Authorization' and I had saved my auth0-variables file, so I didn't have to get my clientID an

[2018-12-20 21:43] albertoperdomo commented on #63
Thanks, Andrew.
This does not seem to be the issue we are seeing though. I just checked and the capitalization is ok on my side and the variable name matches.

[2018-12-20 21:46] arlysea commented on #63
Yep... that's all good.
My sample app is working fine now... I can log in and out with out any issues now.

Regards
Andrew

[2018-12-21 07:37] PeterC66 commented on #63
I have just tried my new version of your sample app afresh without changing anything. I once again got the alert saying `Could not get a new token (login_required: Login required)`. However this time when I clicked on OK it did not reappear. I was then able to Login and out with no problems.

**Except that** your current version of the sample app has the problem that it does not log out of Auth0 (

[2019-02-02 07:38] PeterC66 commented on #63
No.  I gave up on Auth0.  I am using a simple method based on [Jason Watmore's approach](http://jasonwatmore.com/post/2018/07/14/vue-vuex-user-registration-and-login-tutorial-example)

[2019-02-16 16:41] Hardyng commented on #63
Probably the cause of problem is using Auth0's dev keys for social logins:

https://www.npmjs.com/package/auth0-js
In paragraph about checkSession method:

[2019-03-03 19:08] mikearias3 opened #67 "VueJS Quickstart: auth_config.json not overwriting user's domain and client ID"
In the [VueJS](https://auth0.com/docs/quickstart/spa/vuejs) Quickstart, if the user downloads the sample while being logged in, the Domain and Client ID should be overwritten in the auth_config.json file.

![image](https://user-images.githubusercontent.com/5594487/53700199-398ef580-3dc6-11e9-9657-1e9c92ff124a.png)

[2019-03-11 12:23] #67 closed

[2019-04-11 14:12] davestewart opened #69 "Missing profile data"
When we run the demo locally, we can authenticate etc, but `$auth.profile` does not contain profile data as outlined [here](https://auth0.com/docs/users/references/user-profile-structure) but rather the claims data:

[code]

The docs here seem to confirm this:

- https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims

Is there a reason the code in this demo seems to be different (i

[2019-04-12 14:53] davestewart opened #70 "Global mixin"
Hi there,

Just checking out this project for a new Vue project.

I've been trying to understand the global mixin approach, but having given it a good going over, I'm not sure it's the best way to do things in Vue, though I see what it is trying to demonstrate.

Being a global mixin, it adds the `created` and `destroyed` lifecycle hooks to every component instance in your app; there could be 100s

[2019-04-16 10:08] davestewart opened #71 "Double-page load on page refresh when authenticated"
It seems that if you're already logged in, then refresh the page, the demo does a second page reload to authenticate:

1. Go to http://localhost:3000
1. Log in
    - the site loads
    - you immediately see "User's profile picture" (missing profile data for my login, so it looks broken)
    - *so far so good*
1. Reload the page
    - the page reloads
    - you see the "Log in" button
    - there i

[2019-04-17 09:29] elkdanger commented on #69
@davestewart Apologies for the delay in replying. This could be down to the Auth0 app you're authenticating with. When you log in, are you using a social provider such as Google or Facebook, or are you using a username and password?

[2019-04-17 09:36] elkdanger commented on #70
@davestewart I agree, a move to manually including the mixin where it's needed would be more beneficial, especially as the app scales. We're about to go through a round of feedback on the app and I'd like to include changes such as this. Thanks!

Regarding the event listeners, an alternative approach as you suggest would be good to see, and feel free to submit a PR! I'd like to avoid using local s

[2019-04-17 10:12] davestewart commented on #69
Hey Steve, no worries!

We're using username and password.

One of the guys from Auth 0 was helping us out in the forum then on private message but he's gone on leave this week and we haven't followed it up yet.

It's very strange - we set this project up only in the last couple of weeks so assumed the "latest and greatest" would just work, but we get claims when everyone else gets profile data.

[2019-04-17 10:23] davestewart commented on #70
Hey Steve,

Actually in my travels I found the following article, and it's very similar to the way I'm doing things at the moment, but more thought through as right now I'm just wrapping the supplied library from the demo:

- https://www.storyblok.com/tp/how-to-auth0-vuejs-authentication

The trick is to use a `new Vue()` as a model only... this makes it reactive from the outset and is also nice t

[2019-04-17 10:48] elkdanger commented on #71
@davestewart Yes the refreshing of the page is clunky, and it's something we've more-or-less worked around in a different sample. We've got a list of stuff to fix based off feedback developing the other samples. If you have something in mind though, please feel free to raise a PR.

Unfortunately we cannot do this, though; it's against our recommendations here at Auth0 and is generally [not a good

[2019-04-17 10:51] elkdanger commented on #69
I can certainly try - have you got a repo I can have a look at?

[2019-04-17 11:02] davestewart commented on #69
TBH, it's just the one from here.

This what I see with a vanilla project and updated `auth_config.json`:

![image](https://user-images.githubusercontent.com/132681/56283030-7dd11d80-6108-11e9-9820-3051de8ef9e3.png)

[2019-04-17 12:06] elkdanger commented on #69
I'm assuming if it's vanilla that you haven't modified the scopes from the default `openid email profile`:

https://github.com/auth0-samples/auth0-vue-samples/blob/master/01-Login/src/auth/authService.js#L10

Do you get the same thing if you log in with a social provider e.g., Google?

[2019-04-17 12:19] elkdanger commented on #70
Local Storage is getting a lot of heat right now in this space as people had a history of storing sensitive data there (like access tokens). I mentioned this on the other issue but [this is worth reading](https://auth0.com/docs/security/store-tokens#don-t-store-tokens-in-local-storage) on our stance on local storage generally.

Even if it's for non-sensitive data, it's still susceptible to XSS and

[2019-04-17 13:17] elkdanger commented on #63
Closing this for now. If anyone continues to have this problem and has tried the suggestion from @Hardyng above, please feel free to file another issue.

[2019-04-17 13:17] #63 closed

[2019-04-17 13:23] elkdanger commented on #52
Hey @paulioceano, the sample app has been updated since this issue was raised. I'll close this issue for now, if you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:23] #52 closed

[2019-04-17 13:24] elkdanger commented on #50
Hey @crouchcd, the sample app has been updated since this issue was raised and more checks are in place to determine the login state. I'll close this issue for now, if you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:24] #50 closed

[2019-04-17 13:25] elkdanger commented on #41
Hey @rafanog, the sample app has been updated since this issue was raised. The new sample currently uses an up-to-date version of the SDK.

[2019-04-17 13:25] #41 closed

[2019-04-17 13:26] elkdanger commented on #35
Hey @ildella, the sample app has been updated since this issue was raised. I'll close this issue for now, if you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:26] #35 closed

[2019-04-17 13:27] elkdanger commented on #32
@paulioceano, the sample app has been updated since this issue was raised. We made sure that the new samples do properly pre-populate variables.

I'll close this issue for now. If you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:27] #32 closed

[2019-04-17 13:28] #31 closed

[2019-04-17 13:28] #29 closed

[2019-04-17 13:30] elkdanger commented on #26
Closing this due to inactivity. If there is still an issue to be resolved here, please feel free to raise another issue.

[2019-04-17 13:30] #26 closed

[2019-04-17 13:34] elkdanger commented on #24
Hey @armujahid, the sample app has been updated since this issue was raised, and does appear to work OK in Safari.

I'll close this issue for now; if you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:34] #24 closed

[2019-04-17 13:36] elkdanger commented on #23
Hey @armujahid, the sample app has been updated since this issue was raised. The new sample should work fine in this scenario, and provides Docker builds for the apps too if that's an option for you.

I'll close this issue for now; if you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:36] #23 closed

[2019-04-17 13:37] elkdanger commented on #18
Hey @besnikh and @alex-webb,

I know this issue is old; the sample has been updated since the issue was raised and should (hopefully!) show much more clearly how to gain access to the user's profile information.

I'll close this for now, but if you're still having trouble, feel free to raise another issue or re-open this one to continue the discussion.

[2019-04-17 13:37] #18 closed

[2019-04-17 13:38] elkdanger commented on #17
Hey @marclave, the sample app has been updated since this issue was raised, and contains the correct lifecycle hooks.

I'll close this issue for now; if you're still having trouble, please feel free to submit another issue.

[2019-04-17 13:38] #17 closed

[2019-04-17 13:39] elkdanger commented on #16
Thanks for the feedback @marclave - the docs have been re-written and should now be correct.

[2019-04-17 13:39] #16 closed

[2019-04-18 11:05] davestewart commented on #69
Not sure. Do I need to set that up in code first?

[2019-04-18 11:11] davestewart commented on #70
Thanks for the info!

Those quick starts looks great. Though it's the first time I've seen them.

Not sure if I should have looked harder?

[2019-04-18 16:20] elkdanger commented on #70
No not necessarily. I would have imagined that the route in to these repositories would normally be through the quickstart docs, as the reader is prompted to visit here to grab the sample app.

I was just wondering if following through the docs would be clearer, but I know a good percentage of people like to dive into the code straight away (myself included). It's a balance we're trying hard to st

[2019-04-18 16:24] elkdanger commented on #69
@davestewart The social connections are set up through the Auth0 dashboard, then you can toggle them per-app. Once that's done, the social providers you choose will be presented as an option for your users when they log in. You shouldn't have to configure anything different in code for that to work.

I'll [link you to this](https://auth0.com/docs/identityproviders) but unhelpfully doesn't show you

[2019-06-03 14:09] elkdanger commented on #69
@davestewart Hopefully you've solved your issue. If not, feel free to re-open or raise another issue.

[2019-06-03 14:09] #69 closed

[2019-06-03 14:10] elkdanger commented on #71
Closing due to inactivity. If there are still issues or something to discuss, please feel free to re-open or raise another issue.

[2019-06-03 14:10] #71 closed

[2019-06-03 14:12] elkdanger commented on #70
@davestewart The topics discussed in the opening post are being addressed in a rewrite of the sample with [the new Auth0 JS SDK](https://github.com/auth0/auth0-spa-js). Closing this for now, but if there is still something to discuss, feel free to re-open or raise another issue.

[2019-06-03 14:12] #70 closed

[2019-07-16 00:16] mikearias3 opened #79 "Vulnerabilities found in the VueJS samples"
Description:
After running the npm install command, 453 high severity vulnerabilities were found.

![image](https://user-images.githubusercontent.com/5594487/61257072-691f1880-a73d-11e9-876e-392844d19633.png)

[2019-07-16 00:29] mikearias3 commented on #79
This issue is fixed by https://github.com/auth0-samples/auth0-vue-samples/pull/80

[2019-07-16 00:49] #79 closed

[2019-07-16 15:32] mathiasconradt opened #81 "npm install fails with node 12.6.0"
As the title says, `npm install` fails with 12.6.0, works fine with 11.0.0.

[code]

[2019-07-19 12:40] stevehobbsdev commented on #81
Thanks @mathiasconradt. This turned out to be an issue with `node-sass`, which has been updated in the associated PR.

[2019-07-19 17:55] #81 closed

[2019-07-30 12:37] dyardyGIT opened #84 "After 'Log In' the home page still shows not logged in"
The issue that i first noticed, whats the home page shows' at first Log In, after I log in i get redirected to universal log in and then back to home  (root) however it still says Log In (at this moment isAuthenticated page variable is null).  Well it does get set to true but then due to data.state.target is undefined it gets set to false again)

After I click log in, it makes the call to Auth0, g

[2019-07-30 13:22] dyardyGIT commented on #84
I believe the download code/sample that embeds your application config is not aligned with this github sample.
I believe this resolved the issue within authService.js

    this.emit(loginEvent, {
      loggedIn: true,
      profile: authResult.idTokenPayload,
      state: authResult.appState **|| {}**
    });

Is the github repository more current?

[2019-08-01 03:43] tim-yao commented on #84
I tried the Login example with Auth0 default app, I failed to login as well. Fixed the issue by update the default app setting based on this: https://auth0.com/docs/errors/libraries/auth0-js/invalid-token#parsing-an-hs256-signed-id-token-without-an-access-token

[2019-10-16 03:21] uandco opened #89 "Error component issues"
Hi,

The error component uses `{{msg}}` but `msg()` is declared as a method. I believe it should be a computed value, like `show`

[2019-10-16 10:30] stevehobbsdev commented on #89
@uandco Initially I thought you were dead right, so I raised a PR to fix it, but I think on reflection it's better the other way around. `show` should probably be a method rather than a computed property. The reason being, neither `show` nor `msg` depend on any props or data, so there's nothing to react to.

In short, I think `show` would be better off as a method rather than a computed prop - so

[2019-10-16 11:27] uandco commented on #89
@stevehobbsdev according to https://vuejs.org/v2/guide/computed.html#Computed-Caching-vs-Methods it is better to use computed values than calling the methods from the template.

`show` and `msg` both depend on `this.$auth.error`, they could potentially react to what happens within the auth plugin? Not sure if the `error` property can change later tho.

Ultimately, you could use a single property s

[2019-10-16 12:32] stevehobbsdev commented on #89
It really depends on the use-case.

`error` will change from having no value to having a value if an error occurs. Whether it can change back again depends on whether you're using popup mode or not. But that has revealed another problem in that `loginWithPopup` never sets the error value - will fix this.

I think in this scenario using a computed prop would be more appropriate, so I'll re-issue th

[2019-10-25 09:51] #89 closed

[2019-12-07 04:34] dmitry-grechko opened #94 "Callback URL mismatch even with callback URL set"
Hi,
I am following an example of setting up Auth0 with Vue SPA, but at the point of login I am getting a Callback URL mismatch error even though the callback URL is set exactly as in the manual:

<img width="593" alt="Screen Shot 2019-12-06 at 11 31 47 PM" src="https://user-images.githubusercontent.com/48458212/70369001-93a27700-1880-11ea-8858-00339326e499.png">

Also, when trying to set up a Logi

[2020-02-05 01:08] shikkk opened #95 "After login, refreshing the page and returning information is too slow."
After logging in, refreshing the page, some methods and user information returned by auth0 are particularly slow, and it takes about a minute to wait. Have you encountered such a problem again?

[2020-02-06 10:54] stevehobbsdev commented on #95
@shikkk Thanks for raising this. Can you read [this FAQ item](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize) and see if that helps you?

[2020-02-06 10:54] #95 closed

[2020-03-13 06:07] #94 closed

[2020-03-22 01:12] ksakiyama opened #100 "Will vue-router hash mode be supported?"
Hi,

These samples works well only in vue-router history mode. But the default for vue-router is hash mode. Do you have a plan to support hash mode in the future?

[2020-03-23 13:09] adamjmcgrath commented on #100
Hi @ksakiyama ,

You should be able to support `hash` mode in Vue by changing your `onRedirectCallback` handler to remove the query params from the redirected page.

eg: In https://github.com/auth0-samples/auth0-vue-samples/blob/master/02-Calling-an-API/src/main.js#L20-L26

Change:

[code]

to:
[code]

This is because in `hash` mode `router.push` isn't enough to remove the query parameters from th

[2020-03-23 13:09] #100 closed

[2020-03-26 01:03] ksakiyama commented on #100
Hi @adamjmcgrath ,
I appreciate your kindness.

[2020-03-30 11:05] timjoyce11 opened #101 "refreshing the page causes user to have to login again"
in chrome, if I hit Refresh, then the user is required to re-login.   how do I overcome this?

[2020-03-30 11:39] adamjmcgrath commented on #101
Hi @timjoyce11

Are you using a Social Connection (like Google) to login? If this is the case you will have to configure it with your own Developer Keys in order for `getTokenSilently` to work correctly and the app to silently log the use in on page refresh.

See: https://auth0.com/docs/connections/social/devkeys#limitations-of-developer-keys

[2020-03-30 19:37] timjoyce11 commented on #101
Adam,

thank you so much for pointing me in the right direction and understanding my issue from such scant information.  it all works now.  thanks to you.

stay well

tim

[2020-03-30 19:37] #101 closed

[2020-05-05 15:39] daveKoala opened #102 "Login the successful login"
Hi Steve Hobbs,
Great wee package. One question the project i am working on has a logging service that catches API calls and a bunch of other things.

I am trying to capture the point where a user successfully logs in within the authWrapper.js -> useAuth0 method. Currently the previous dev team added it to the .finally of the 'created' method after dispatching an action to take the Auth0 token and

[2020-05-07 16:51] stevehobbsdev commented on #102
Unfortunately we don't have a good event model for reporting this kind of information, either from the SDK or the Vue wrapper. It will be triggered by page refreshes as the SDK has to effectively log in again when the page is initialized.

The only thing I can recommend is reconfiguring the wrapper to capture that information once [when Auth0 calls back to your app](https://github.com/auth0-sample

[2020-05-07 16:51] #102 closed

[2020-05-26 21:06] jensenkd opened #103 "Bootstrap Vuex user store after authentication, before loading any modules"
I have the sample working perfectly.  After authentication, I want to call my backend api and get user application settings.  I want this to happen before loading any modules.

Any ideas where to place that call so it executes prior to anything else loading?

[2020-06-02 20:58] smakinson opened #104 "handleRedirectCallback usage"
https://github.com/auth0-samples/auth0-vue-samples/blob/c0b9cedec9b4b41c334de4b9052952985fce0384/01-Login/src/auth/authWrapper.js#L45

Is the above function used anywhere?

[2020-06-03 23:18] stevehobbsdev commented on #104
Not by the sample, but could potentially be used by the app developer. The idea behind that wrapper is that it could in the future be extracted into a library in its own right, so we included the full API here.

Closing for now but feel free to continue the conversation.

[2020-06-03 23:18] #104 closed

[2020-06-04 03:44] godd9170 opened #105 "Question: Why declare a new Vue instance in the plugin?"
Apologies if this isn't the right place to ask this, please close and redirect me if there's a better spot.

I'm curious why both the examples in this repo elect to construct an entirely new `Vue` instance in the plugin like this.

https://github.com/auth0-samples/auth0-vue-samples/blob/c0b9cedec9b4b41c334de4b9052952985fce0384/01-Login/src/auth/authWrapper.js#L18

Why this pattern versus simply de

[2020-06-05 12:43] stevehobbsdev commented on #105
Thanks for raising. We mainly do that for the reactivity you get out of the box for properties like `isLoading`, `isAuthenticated`, `user`, etc. When the auth state changes it enables us to propagate those changes easily.

[2020-06-08 22:20] godd9170 commented on #105
Thanks for the quick reply @stevehobbsdev. That definitely makes sense. I'm curious though, as I'm still pretty new to Vue, if it's kosher to construct a new instance in a plugin. Is this something you'd recommend in a non-example, production setting?

[2020-06-09 10:15] stevehobbsdev commented on #105
Sure, this should be no problem. All the components you create in your app are just [Vue instances with a name](https://vuejs.org/v2/guide/components.html); think of auth wrapper in this sample as just another component that does not have a render template.

Here's a [quick thread](https://forum.vuejs.org/t/multiple-vue-js-instances-vs-performance/20399) I found on performance, which might allevia

[2020-06-13 08:27] glorat opened #106 "Support useRefreshTokens in auth0client"
Any reason why we shouldn't use `useRefreshTokens` to make use of rotating refresh tokens if enabled ? If not, seems like a good optional addition to the plug-in.

[2020-06-15 13:53] stevehobbsdev commented on #106
Thanks for the feedback. There's no reason, it's just the plugin sample code hasn't be updated to handle this scenario yet. I'm planning on a quick sweep through the samples in the short term, I'll take this into account.

Thanks!

[2020-06-15 13:53] #106 closed

[2020-07-07 11:16] AREEG94FAHAD opened #107 "Why i lost user data e.g name picture .. etc when i refresh page ?"

[2020-07-10 11:45] stevehobbsdev commented on #107
@AREEG94FAHAD This could be down to a few things:

* You are using a browser such as Safari or Brave where third-party cookies are blocked by default. If so, please test your app using Chrome to see if the application works as expected then
* You do not have your *Allowed Web Origins* configured in your [Auth0 dashboard](https://manage.auth0.com). There should be an entry there for your applicatio

[2020-07-10 11:45] #107 closed

[2020-07-22 15:38] stphnlwlsh commented on #63
@stevehobbsdev Can Auth0 provide some _very_ clear documentation on this? I've spent the better part of two days troubleshooting why my `this.$auth.isAuthenticated` value disappears after a page refresh. Disabling all social logins fixes this, but this isn't the reason I chose Auth0. I generated some app client ids and secrets, and everything started lighting up again.

There are warning in the UI

[2020-08-06 23:15] jsappme opened #115 "What is the API IDENTIFIER in Scenario #2 - Calling an External API"
Could you please tell me what should I enter for this following variable?

```"audience": "<YOUR AUTH0 API IDENTIFIER>",```

[2020-08-17 22:28] davedub opened #117 "Vue user profile - adding app_metadata"
My issue is similar to the one [asked here](https://github.com/auth0-samples/auth0-vue-samples/issues/18#issue-224208521). After adding a custom claim to a user's profile data, I create a rule to add it to the user's token upon logging in. What I don't understand is how to access and show the custom data inside a Vue app. I know I can't use the same double-bracketed data binding  like for {{ $auth

[2020-08-18 00:14] davedub commented on #117
I spent another hour trying to figure this out and finally got it to work. Here's how --

In [/src/auth/authWrapper.js](https://github.com/auth0-samples/auth0-vue-samples/blob/master/01-Login/src/auth/authWrapper.js), for the "this.auth0Client" instantiation of the createAuth0Client() object [line 75 in the sample Vue auth0 login repo], I added to the other enumerated properties, one for scope:

I

[2020-08-18 00:14] #117 closed

[2020-08-25 10:57] xetra11 opened #118 "Vue.js Example '01-login' fails with 401 unauthorized"
I downloaded the example and ran it as described in the quickstart guide.
The app starts fine and also the Auth0 Login works with my Google Account.

However after I log in (or better said sign up since this is the first attempt with my Google Account). The page returns the following:

![image](https://user-images.githubusercontent.com/8149023/91165777-90327280-e6d1-11ea-9aea-73f2b1110e5c.png)

Th

[2020-08-29 06:48] AntMarras commented on #118
is this the issue?

https://community.auth0.com/t/401-unauthorized-when-obtaining-token-in-authorization-code-grant/44685

[2020-08-30 17:47] #118 closed

[2020-09-01 04:27] #103 closed

[2020-09-03 09:56] stevehobbsdev commented on #115
Hi, apologies for the radio silence here.

In case you haven't got this working yet, you should set this value to the API identifier of the API you wish to get an access token for to call APIs.

![image](https://user-images.githubusercontent.com/766403/92100718-0d49a000-edd4-11ea-9340-14252c0879db.png)

If you don't need to call an API, you can leave out the `audience` setting altogether.

Hope th

[2020-09-03 09:56] #115 closed

[2020-09-07 16:26] #105 closed

[2020-11-09 10:00] SergioEanX opened #122 "Logout redirect does not work"
Logout route redirect me to http://localhost without port.
How to fix it?

[2020-11-09 12:36] stevehobbsdev commented on #122
Hey @SergioEanX , you will need to call logout and pass a `returnTo` option, like so:

[code]

This URL also needs to appear in the **Allowed Logout URLs** setting for your Auth0 app. (see [Redirect users after logout](https://auth0.com/docs/logout/redirect-users-after-logout))

Hope that helps!

[2020-11-09 12:36] #122 closed

[2020-11-09 12:37] stevehobbsdev commented on #84
Please let me know if you have not managed to solve this issue yet - happy to continue the discussion.

[2020-11-09 12:37] #84 closed

[2020-11-17 21:49] aberenyi opened #123 "Vue 3 support"
Hi,

Any chance for a Vue 3.x version?

I find [this](https://blog.risingstack.com/auth0-vue-typescript-quickstart-docs/) howto pretty comprehensive, however, there are some gotchas, e.g. plugin installation has changed completely ([globalProperties](https://v3.vuejs.org/api/application-config.html#globalproperties) or [provide/inject](https://v3.vuejs.org/api/application-api.html#provide) can be

[2020-11-18 12:05] stevehobbsdev commented on #123
Thanks for raising this @aberenyi. We don't have any immediate plans to upgrade the sample just yet, but it's certainly on the the roadmap for the future.

[2020-11-18 12:05] #123 closed

[2020-12-09 13:42] InspectorJapp opened #127 "Does not work with Vue 3"
The samples need to be updated for Vue 3

[2020-12-09 14:09] evansims commented on #127
Hey @InspectorJapp 👋 Thanks for raising this! We don't currently have any immediate plans to upgrade this sample, but it's on our roadmap for later! (See also: #123)

[2020-12-09 14:09] #127 closed

[2020-12-09 14:15] InspectorJapp commented on #127
Ok, I only just now noticed that @aberenyi previously opened an issue for the same problem.

Why not just keep the issue open so that others know that you guys have it on the roadmap?

[2020-12-16 08:00] radiantone opened #129 "Doesn't Work"
Using chrome, there are multiple console errors regarding loading https over http. The app cannot load https over http and since it does not run with https, it is broken.

Running the app using localhost produces

Failed to load resource: the server responded with a status of 403 ()

when loading from my auth0 app.

On top of that, the main page has no login button or link, so not sure how to demo

[2020-12-16 10:53] stevehobbsdev commented on #129
Thanks for raising @radiantone. Sounds like there's an issue getting the callback from Auth0, which has an impact on showing the login buttons, and it could be down to configuration. A common cause of this is omitting the "Allowed Web Origins" setting from your Auth0 app settings.

Also, could you check your [Auth0 Logs](https://auth0.com/#/logs) to see if that presents any more insight into the p

[2020-12-16 14:00] radiantone commented on #129
Ahhhh. I see this
Callback URL mismatch. http://localhost:3000 is not in the list of allowed callback URLs

Probably something that should be mentioned in the README, how to avoid this.

[2020-12-16 14:11] stevehobbsdev commented on #129
Thanks @radiantone. These samples are a companion to the quickstart guides that are available on the Auth0 docs site - https://auth0.com/docs/quickstart/spa/vuejs

The first part of this should get you moving with the Auth0 setup. Sounds like there's an opportunity for us to replicate some of that directly on the readme here - not just for this sample, but some of the others too.

[2020-12-16 16:15] #129 closed

[2020-12-16 16:22] radiantone commented on #129
Followed the directions on the quickstart. Still doesn't work. Browser throws this error.

[code]

App page has no login button or anything. Just shows some information. So not sure what I should be seeing.
![auth0-error](https://user-images.githubusercontent.com/25509097/102375842-f6991480-3f90-11eb-8937-1e180a34339b.png)

[2020-12-16 20:26] frederikprijck commented on #129
It looks like you are running your application without https on a domain that is different from localhost.

The error message includes a link to https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-do-i-get-auth0-spa-js-must-run-on-a-secure-origin which explains the problem.

[2021-01-05 17:49] SayakMukhopadhyay opened #131 "Files not in sync with the docs"
I see that some files in the samples doesn't accurately reflect the code in the docs. For eg. https://github.com/auth0-samples/auth0-vue-samples/blob/master/01-Login/src/auth/authWrapper.js is not exactly what is shown in https://auth0.com/docs/quickstart/spa/vuejs/01-login#create-an-authentication-wrapper. Is this intended and if so which one of these snippets are more updated?

[2021-01-05 19:33] frederikprijck commented on #131
The difference between the two is that the sample is correctly handling `loginWithPopup`:

[code]

I opened a PR to update the Quickstart https://github.com/auth0/docs/pull/9550/files

[2021-01-05 19:33] #131 closed

[2021-01-08 16:31] john-craft commented on #123
Would very much appreciate a Vue 3 version of this sample project.

[2021-01-22 17:02] alsyia opened #132 "Vue SPA + API backend"
Hello,

I'm trying to make the Vue sample work in my application. I copy/pasted the sample plugin code and installed it properly into my Vue app. Now, I would like my app to automatically initiate the login flow when somebody open the app without being logged in.

The first thing I did was something like this:

[code]

This triggers the login process correctly, but it obviously does it everytime,

[2021-01-27 14:54] stevehobbsdev commented on #132
👋 Thanks for your patience here. Let me respond to each thing in the post.

There are some nuances to this and it depends on what browser you're testing this in. If you're using a browser that blocks third-party cookies by default (e.g. Safari, Brave) then Auth0 can't actually read your Auth0 cookie when calling `getTokenSilently`, and so you get the `login_required` error you're seeing in the con

[2021-01-29 14:39] alsyia commented on #132
Thanks for the detailed answer!

The authentication lost at refresh issue was because I was using Auth0 dev keys for my SSO integration on this tenant, something I had totally overlooked. The post you linked is indeed awesome! It would deserve a place in the documentation imo.
The routing error disappeared too. :)

I modified the code to include your advice. It works very well, but I still have on

[2021-01-29 15:57] stevehobbsdev commented on #132
Glad to hear it's working a bit better for you :)

Yes - if you use [rotating refresh tokens](https://auth0.com/docs/tokens/refresh-tokens/refresh-token-rotation) in local storage, then your app is no longer reliant on the user's session (and thus the cookie) and just calls the token endpoint directly. You will get a slight performance benefit as well as being able to function in browsers where th

[2021-01-29 15:57] #132 closed

[2021-01-29 16:32] alsyia commented on #132
I think I have everything I need, thank you very much :)

[2021-02-04 17:54] changetocoding opened #133 "Can you update the quick start guides with this code"
Hi can you update the quickstart guide and also the tutorial here: (https://auth0.com/blog/beginner-vuejs-tutorial-with-user-login/#) with this updated code.

The code on the quickstart and on the tutorial feature a serious bug which was fixed in #91. Testing locally I was able to authenicate a user even though the loginWithPopup errored out.

I'm guessing alot of people use the outdated code on t

[2021-02-04 18:26] changetocoding commented on #104
Just around that function. Is authenticated is always set to true in it. Is that correct?

[code]

In loginWithPopup() the behaviour is different:

[code]

Also would argue for removing it or at least renaming it, as it causes confusion with this method:
[code]

[2021-02-04 18:30] changetocoding opened #134 "isAuthenticated set to true in handleRedirectCallback"
https://github.com/auth0-samples/auth0-vue-samples/blob/43b71a0c21a46059a07e1f8ebbdd1fa2f239e738/01-Login/src/auth/authWrapper.js#L45

isAuthenticated is set to true, unless there is an error. Is that correct?

In loginWithPopup() the behaviour is different:
[code]

Also would argue for removing this function or at least renaming it, as it causes confusion with this method:

[code]

[2021-02-07 22:58] nikhil-gupta2 opened #135 "Auth skipped when curled to profile page"
Hey, nice samples.
I am trying this with gridsome and if I do curl to profile page the auth is skipped. It works absolutely fine on GUI...
Any idea?

[2021-02-16 13:46] stevehobbsdev commented on #134
Thanks for reporting the discrepancy, I'll raise a PR to fix it.

Can you please elaborate on the confusion?

[2021-02-16 13:48] stevehobbsdev commented on #133
Thanks for reporting - let me update the quickstart with the latest code. I will also ping the team that looks after the blog to see if this can be amended.

[2021-02-16 13:58] stevehobbsdev commented on #135
@nikhil-gupta2 When I cUrl to the profile page I get a response that indicates that JavaScript is not enabled:

[code]

A response is expected - remember this is a client-side mechanism to perform the auth redirect rather than something that is happening on the server.

Are you seeing the same response as above?

[2021-02-16 14:09] changetocoding commented on #134
I was just confused between handleRedirectCallback(); and the auth0 version.  I think its fine to leave as is.

[2021-02-16 14:10] #133 closed

[2021-02-16 14:12] stevehobbsdev commented on #134
It's a fair comment - one just wraps the other and sets some state. Ideally we wouldn't need this, and we'll do what our SDKs like [auth0-react](https://github.com/auth0/auth0-react) do and hide this from you completely.

[2021-02-16 23:03] nikhil-gupta2 commented on #135
Hey @stevehobbsdev thanks for the response... I c that u r being redirected to the login page... Where is this redirect implemented... I think in my case this is not happening...

[2021-02-17 11:23] stevehobbsdev commented on #135
That's not me being redirected to the login page, the response I'm getting is simply the unprocessed HTML template file.

It might help if you can post the full response that you're getting from cUrl. Using `curl -i localhost:3000/profile`.

[2021-03-03 03:24] r21nomi opened #136 "Login required after refreshing browser"
Hi, thank you for awesome samples.

I was trying `02-Calling-an-API` and login process got successful.
(I confirmed `$auth.isAuthenticated` is true and I checked user info.)

But `await createAuth0Client()` in `authWrapper.js` becomes error when I refresh browser.

I checked the log below on console.
<img src="https://user-images.githubusercontent.com/3589344/109747412-6a56cf00-7c1a-11eb-891e-bacd

[2021-03-03 04:38] r21nomi commented on #136
I realized this would happen in only secret tab for chrome.
I confirmed `$auth.isAuthenticated` becomes true and the error `Login required` never happend on normal chrome tab.

[2021-03-03 08:34] frederikprijck commented on #136
Hi,

This is expected as explained in https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md (`Why is the user logged out when they refresh the page in their SPA?`).

An incognito tab in Chrome does not allow third party cookies so Silent Auth will not work unless you use Refresh Tokens.

Let me know if you need more guidance, but closing this for now.

[2021-03-03 08:34] #136 closed

[2021-05-02 06:47] furkanmeclis opened #143 "I can't create a sample build in vue js v3"
vue js v2 It does not support some libraries so I use v3 but I cannot use auth0 at this time.

[2021-05-12 10:54] stevehobbsdev commented on #143
You are able to use Auth0, but unfortunately our samples have not been rewritten for Vue 3 yet. The samples here just wrap our [Auth0 SPA SDK](https://github.com/auth0/auth0-spa-js) library and the biggest problem is that they use the old Vue 2 Plugin API.

I don't have exact details to share yet but we aim to upgrade these samples to be compatible with Vue 3 soon.

[2021-05-12 10:54] #143 closed

[2021-06-02 00:08] ndenny opened #154 "Using getTokenSilently() doesn't update $auth.user object"
Currently getTokenSilently() just wraps the internal client - but if you need to use this to get an updated token after, for example, adding new metadata to your user - the Vue object is not also refreshed to match with the updated data.

My suggested fix is:
[code]

Happy to submit a PR for this - but wanted to check that if that is wanted and/or the correct approach.
Thanks!

[2021-06-09 14:35] stevehobbsdev commented on #154
@ndenny yep - happy to review a PR for this. Thanks!

[2021-07-01 09:47] stevehobbsdev commented on #134
Closing for now as this will be handled when the samples are rewritten.

[2021-07-01 09:47] #134 closed

[2021-07-27 11:09] stefanonepa opened #161 "Support for vue 3"
Please can you add the support for vue3 please?

[2021-07-27 21:07] stevehobbsdev commented on #161
Thanks for raising @stefanonepa. Vue 3 support is on the roadmap but unfortunately I don't have an ETA to share at this time. Keep an eye out for updates to these samples in the future!

[2021-07-27 21:07] #161 closed

[2021-07-27 21:08] stevehobbsdev commented on #135
Closing for now, but feel free to re-open if this is still an issue.

[2021-07-27 21:08] #135 closed

[2021-08-13 17:36] ndenny commented on #154
FYI - submitted #166 for this

[2021-08-23 14:10] ClementVanPeuter opened #167 "Flash profile page when accessed by URL"
Everything work like a charm.
But when trying to access the profile page by url when we are NOT logged in ( just type /profile after base url) the page/view flash for like 1/2 second before the loginWithRedirect is triggered.

The result is we see the profile page for a little, before the login redirection :/

I think it's our guard or our router code (but I can't figured out what ) and I found th

[2021-09-10 13:43] stevehobbsdev commented on #167
@ClementVanPeuter that doesn't sound ideal. The guard should wait for the `isAuthenticated` call to complete, but the fix for that will be somewhere in the wrapper. Let me take a look to see if I can replicate the issue in the sample 👍🏻

[2021-09-10 14:20] stevehobbsdev commented on #167
It looks like you can prevent the target page from being loaded by using `next(false)` when not authenticated. It'll remain on the page you were when the URL was changed. I've modified the base sample to take this into account (#168).

Let me know if that helps.

[2021-09-13 11:18] #167 closed

[2021-10-05 04:21] heyharmon opened #170 "Vue 3 Incompatible"
Very excited to see your team's take on implementing the JS SDK with Vue 3 Composition API.

[2021-10-05 08:49] stevehobbsdev commented on #170
I'm excited for it too @heyharmon! It's something we have on the roadmap, I just don't have a timeline to share at the moment. Keep an eye out for our updated [quickstarts](https://auth0.com/docs/quickstart/spa/vuejs), [community forums](https://community.auth0.com/) and socials for when it drops 🎉

[2021-10-05 08:49] #170 closed

[2021-10-05 17:26] heyharmon commented on #170
Thank you @stevehobbsdev, cheers!

[2021-11-16 15:00] stevehobbsdev commented on #154
Thanks for your patience here, this will get merged this week.

[2021-12-30 20:19] subnetmarco opened #175 "M1 Support"
Doesn't work with Apple M1 cpus, because of an outdated version of `node-sass`.

[2022-02-08 16:35] stevehobbsdev commented on #175
Thanks @subnetmarco, I'll get this updated.

[2022-02-09 09:49] stevehobbsdev commented on #175
We will instead fix this in the upcoming `beta` branch for Vue 3 - upgrading `node-sass` requires Python, so instead we're potentially looking at removing that dependency.

Thanks for raising.

[2022-02-09 09:49] #175 closed

[2022-02-17 12:24] v3nt opened #185 "clicking on login does nothing?"
Running the project, now errors on startup.

When I click on Login the only thing that happens is a redirect to the app with parameters -

http://localhost:3000/?error=invalid_request&error_description=no%20connections%20enabled%20for%20the%20client&state=MUc3ckN6SkgwUDZqZElTYWpLTXUuT3RzNVBDdGhGTzZwT2RGRWFuOFBoSA%3D%3D

No errors in console.
I have put my app details in `auth_config.json`

[2022-02-17 12:28] stevehobbsdev commented on #185
👋🏻  The error "no connections enabled" would indicate that your app within the Auth0 Dashboard doesn't have any connections assigned to it (database, social, etc), so it's throwing an error.

Of course, we can be better at surfacing this in the sample app. @frederikprijck can we look at this for the new beta samples?

[2022-02-17 12:46] v3nt commented on #185
thanks -  thought as much but I'm following the examples from the application I've created and can't see how to create connections?

[2022-02-17 12:50] v3nt commented on #185
actually I can see I add them via the connections tab. Apologies - I thought this was going to be from the sample project somewhere.

[2022-02-17 12:58] frederikprijck commented on #185
@stevehobbsdev  The new beta QuickStart sample does show a message in this case:

![image](https://user-images.githubusercontent.com/2146903/154486318-9c17fe28-5f1b-4240-8e85-9cd12a7fca25.png)

The current Sample does indeed not show any message as it's not configured to parse the error query params on redirect.

[2022-02-17 13:06] stevehobbsdev commented on #185
Awesome, thanks for clarifyjng.

@v3nt glad you got it sorted. Like @frederikprijck has shown the experience is better with the new samples. Thanks for raising the issue

[2022-02-17 13:06] #185 closed

[2022-03-30 08:04] #154 closed

[2022-04-05 07:21] onurusluca opened #201 "Uncaught TypeError: Cannot destructure property 'getAccessTokenSilently' of 'useAuth0(...)' as it is undefined."
Hi!

This is for a discussing but there is no discussion section so I am posting here.
This may not be a problem about auth0-vue I don't know. Correct me if I am wrong.

I am trying to use getAccessTokenSilently on Vue 3 Composition API with script setup.

Use:
[code]

This will give:

This also happens in a .vue file.
isLoading etc. will give the same error.

Can you please tell me what I am doin

[2022-04-05 07:27] onurusluca opened #202 "Different Router setup for routerGuard"
Hi!

In docs, the router setup is different than the setups in vue-router website.
I can't get auth0 router guard to work with the code I have.
Is there a way to make auth0 work with normal vue-router setup?

**auth0-vue-samples router:**
[code]

vue-router default usage:
[code]

[2022-04-05 07:29] frederikprijck commented on #202
You can use what is being mentioned here: https://github.com/auth0/auth0-vue#protect-a-route

[2022-04-05 07:29] #202 closed

[2022-04-05 07:32] frederikprijck commented on #201
It's hard to tell without a reproduction. Please provide a reproduction for us to look into. Also be sure to follow https://auth0.com/docs/quickstart/spa/vuejs/01-login

[2022-04-05 08:15] onurusluca commented on #201
@frederikprijck Thanks for the quick answer.

Here is the reproduction: https://vitejs-vite-ghgzmw--3000.local.webcontainer.io
Remove `const { getAccessTokenSilently } = useAuth0();`  to see the h1 tag. With that code it won't show.
For some reason it doesn't show the error though. Probably cause of the compiler.

[2022-04-05 08:31] onurusluca commented on #201
@frederikprijck This also seems to happen with route guard:
![image](https://user-images.githubusercontent.com/51825926/161712350-d4f0d0ee-f13a-49cf-8145-614a0102e2bf.png)

[code]

[2022-04-05 08:42] frederikprijck commented on #201
I have no access to that URL, however that URL wont help much. Can you send me a github repository that containes the issue ?

[2022-04-05 08:44] onurusluca commented on #201
My bad: https://stackblitz.com/edit/vitejs-vite-ghgzmw?file=src%2FApp.vue&terminal=dev
I can't currently create a github with the problem. If the reproduction link isn't enough, you can close the Issue.

[2022-04-05 08:52] frederikprijck commented on #201
There appear to be some issues with how the stackblitz is set up.  I made some changes, mostly changing

[code]
to
[code]
That and uncommenting `//const { getAccessTokenSilently } = useAuth0();` in App.vue removes the error, but things still do not work because of how you are setting things up. Please refer to https://auth0.com/docs/quickstart/spa/vuejs/01-login on how to use the SDK in Vue, it sh

[2022-04-05 08:52] #201 closed

[2022-06-13 01:45] onurusluca opened #256 "Did auth0-vue development stopped?"
Sorry for writing here but I saw that https://github.com/auth0/auth0-vue repository is archived.

@frederikprijck  What happened? What should we use for Vue3?

[2022-06-13 05:40] frederikprijck commented on #256
Thanks for reaching out. No idea what happend, but you can keep using our SDK. I will look into finding out what happend and getting the repo unarchived.

Sorry about that!

[2022-06-13 07:01] frederikprijck commented on #256
It's unarchived again, sorry about that!

[2022-08-08 05:44] onurusluca opened #282 "Redirect users to a page after a signup to show "Please verify your email.""
Sorry for making a issue for this but I just can't figure it out. I wrote this a Auth0 community but couldn't get an answer.

I want to redirect users to a page after signup. Because now after a new signup the page keep refreshing itself.
Login, logout etc. works fine.

Using the settings we discussed here: https://github.com/auth0/auth0-vue/issues/99#issuecomment-1102447205

I tried checking if u

[2022-11-09 15:01] #282 closed